@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    &__link {
      display: block;
      font-family: $font-family-main;
      @include font($fs: 12px, $fw: 500, $lh: 14px);
      letter-spacing: 0.02em;
      color: $brand-text-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }

    &__link:hover,
    &__link:focus {
      color: $brand-accent-color;
    }

    &__icon {
      margin-right: 8px;
      fill: currentColor;
    }

    &__icon.mail {
      width: 14px;
      height: 10px;
    }
    &__icon.tel {
      width: 10px;
      height: 14px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
      @include font($fs: 14px, $fw: 500, $lh: 16px);
    }

    &__icon {
      margin-right: 10px;
    }

    &__icon.mail {
      width: 16px;
      height: 12px;
    }
    &__icon.tel {
      width: 10px;
      height: 16px;
    }
  }
}
