$font-family-main: "Roboto", sans-serif;
$font-family-logo: "Raleway", sans-serif;

$brand-text-color: #757575;
$brand-title-color: #212121;
$brand-accent-color: #2196f3;
$dark-theme-color: #2f303a;
$light-theme-color: #f5f4fa;
$white-color: #ffffff;
$black-color: #000000;

$background-color-botton-hover: #188ce8;
$background-color-hero: #c4c4c4;

$social-svg-color: #afb1b8;
$top-line-color: #ececec;
$border-cards-color: #eeeeee;

$card-gap: 30px;

$container-padding-left-right: 15px;
